
h1
{
	color: red; 
	font-size: 40px;
}
.body_background {
	background-image:url("https://thumbs.dreamstime.com/b/flatlay-various-stationery-art-supplies-white-wooden-background-flatlay-various-stationery-art-supplies-white-131692831.jpg");
	background-position: center;
	background-size: stretch;
}

#myCanvas{
	border-width: 10px;
	background-color: black;
	border-style: ridge;
}